[2017-03-23 09:05] chengyuz opened #1 "it seems the model file FAN does not exist, could you please share us with it, thank you very much"

[2017-03-23 10:09] 1adrianb commented on #1
@chengyuz Thanks a  lot for reporting this! The download links should work now.
You can run the code as:
[code]
where the path to the dataset must be a folder containing png or jpeg images alongside their corresponding *.t7 ot *.pts points. An example of such dataset is the LS3D-W balanced available on our page.

[2017-03-23 10:09] #1 closed

[2017-03-23 10:19] chengyuz commented on #1
thank you for your reply~

[2017-05-26 02:35] ForestWang opened #2 "can not access to the pretrained model link"

[2017-05-26 08:02] 1adrianb commented on #2
Thanks for reporting this. It seems to happen for a few email addresses, I will have to investigate why sendgrid doesn’t send them.
In the meantime please email me and I will send you the download link.

[2017-05-26 08:02] #2 closed

[2017-06-13 06:47] ForestWang opened #3 "why pretrained 2D-FAN and 3D-FAN models are the same?"

[2017-06-14 02:45] ForestWang commented on #3
Hi 1adrianb:
Thank you for your quick reply. The same means all the weights value in the file are the same except the file name.

[2017-06-14 09:18] 1adrianb commented on #3
@ForestWang
I double checked the models and they are different.
2D: https://www.adrianbulat.com/downloads/FaceAlignment/2D-FAN-300W.t7
3D: https://www.adrianbulat.com/downloads/FaceAlignment/3D-FAN.t7

Maybe you are somehow downloading the wrong ones?

Note that when you run main.lua you can specify the model that you want to load using -model [path_to_model]

Please let me know if everything is s

[2017-06-14 14:15] ForestWang commented on #3
Hi Adrian:
I downloaded the models again. The problem resolved. thank you very much.

[2017-06-16 08:09] ForestWang commented on #3
Hi Adrian:
I read your paper "two-stage", it's a wonderful work. in the paper, say that the source code is at http://www.cs.nott.ac.uk/~psxab5/

bu seems that it's not there already?
it's not open or at another link?

thanks very much.

[2017-06-19 09:35] 1adrianb commented on #3
Hi, yes you are right, unfortunate at this moment there is no code publicly available. However all you have to do is for example to take the output of this network, concat it with the image and serve it as as input to a ResNet trained for depth prediction. You can train this altogether using the 3DFAW dataset.
This been said, I do plan to release them at later time during this summer.

[2017-06-29 21:46] iyildirim opened #4 "how to obtain bounding box files (.t7 or .pts)"
Hi,

I am trying to run your demo, but I can't figure out your pipeline for obtaining the bounding box info files as required in utils.getFileLists(). I would appreciate any pointers on this.

In addition, what is the expected file format for the bounding box info?

Thanks
Ilker

[2017-06-30 00:11] iyildirim commented on #4
Alright, figure this. Thanks.

[2017-06-30 00:11] #4 closed

[2017-06-30 10:34] 1adrianb commented on #4
@iyildirim I am glad you sorted out.
Just in case someone else will have a similar question:
For simplicity, the code obtains the bounding box directly from the gt points. Therefore on new images one will have to run a face detector. However, technically, the code doesn't require a bounding box, but: a) a point located somewhere around the center of the face  and b) a rough estimate of the face sc

[2017-08-01 16:50] jgoenetxea opened #5 ""Segmentation fault (core dumped)""
I have followed all the steps mentioned in the readme file, but when I run the script:
[code]
The console says: 'Segmentation fault (core dumped)'

I have the models and the dataset included in the same folder, and trying to follow the paths described in the 'opts.lua' file.

Is there any thing more I have to do to put the program working?

[2017-08-01 17:02] 1adrianb commented on #5
@jgoenetxea I just made some changes with a few minutes ago. Could you please check it now? Thank you.

[2017-08-02 07:00] jgoenetxea commented on #5
I had to leave just after writing the issue. I will test the changes this afternoon. Thanks.

[2017-08-02 15:12] jgoenetxea commented on #5
I have updated the text in the previous comment, but I don't know it the system notifies the edits.

[2017-08-02 16:16] 1adrianb commented on #5
It looks like it doesn't like the python/numpy/matplotlib versions, I remember it working with the version that is present in the ubuntu repository, but not with the ones updates via pip.
Could you please run it by disabling the plotting part of the code (which uses python) or install the numpy&matplotlib versions available in the ubuntu repository ?
If this doesnt help please let me know and I wi

[2017-08-02 17:13] jgoenetxea commented on #5
Ok, I have commented all the 'py.exec' blocks, and it looks that the segmentation fault is fixed.

However, it asks for new dependencies not listed in the readme file: cunn, matio and npy4th

I have included them with:
[code]

After those installation, is not able to find the data
[code]
, but there is not any segmentation fault.

[2017-08-02 17:23] jgoenetxea opened #6 ""Found 0 images" message"
I have the application apparently working, but it looks like is not able to locate the images.
I have deducted the folder structure checking 'opts.lua' file.

My folder structure is:
2D-and-3D-face-alignment
2D-and-3D-face-alignment/dataset
2D-and-3D-face-alignment/dataset/LS3D-W/
2D-and-3D-face-alignment/dataset/LS3D-W/\*.t7  # All the LS3D-W dataset
2D-and-3D-face-alignment/dataset/LS3D-W/\*.jpg

[2017-08-02 17:50] 1adrianb commented on #6
The structure is corect, there was a problem in the input path in the code 'dataset/LS3D-W' vs 'dataset/LS3D-W/' (I should have used paths.concat to avoid) this. If you change it in the main, or provide it as an argument, ex: ```th main.lua -input dataset/LS3D-W/``` it should work.

[2017-08-02 17:51] 1adrianb commented on #5
I will add cunn to the list, I missed it somehow.
The matio and npy4th should be optional and they are used if the input data is in .mat or .npy/npz format

[2017-08-02 18:06] 1adrianb commented on #5
I will also prepare a Docker image over the weekend to avoid this kind of issues in the future

[2017-08-02 18:25] jgoenetxea commented on #6
Looks that it is working.

Thank you very much.

[2017-08-03 14:14] #6 closed

[2017-08-04 15:25] #5 closed

[2017-08-28 12:16] kartynnik opened #7 "What is the pretrained models license?"
Is it the same as the code (i.e. BSD 3-clause)?

[2017-08-28 15:25] Yozey opened #8 "Dlib Face detection blocked"
Hello Adrian,

Thank you very much for sharing your code and model.
I have an error when running the landmark detection over an image without bounding box. It seems that the dlib detector doesn't work.

The error could be found here:

RuntimeError: Unsupported image type, must be 8bit gray or RGB image.

I've mentioned that you have parsed the image into byte and HWC format.  I'am not quite sure h

[2017-08-28 18:19] 1adrianb commented on #7
@kartynnik yes, the code and the models are available under BSD 3-clause license.

[2017-08-28 18:27] 1adrianb commented on #8
Hi Yozey,
Are you sure your image is RGB and not RGBA instead?

[2017-08-28 19:24] #7 closed

[2017-08-29 07:42] Yozey commented on #8
@1adrianb Yep i'm testing over ibug dataset with 2D FAN. They are just simple RGB images without depth information.

I added `print(py_img)` before `local dets = self.detector(py_img,py.int(1))` to check the image input, it looks like:

which looks fine.

`print(type(py_img))` gives

I'm not quite sure how to check the numpy variable type in Lua.

[2017-08-29 16:33] 1adrianb commented on #8
Thanks a lot for the details provided. I will test it on the ibug dataset tomorrow and let you know where is the problem.
 Please do note however that dlib face detector doesn't work well with faces found in large poses and for more difficult cases a better, deeplearning based detector should be used.

[2017-08-30 08:40] Yozey commented on #8
@1adrianb Thanks for your information.
I tested my dlib detector in python over ibug. It works by returning a rectangle object. I think dlib is all right.

I limited the test image set(ibug) to only one image to ensure that Lua and python are processing the same image.

Same problem for the front-view photo from Internet. Thank you:)

[2017-08-30 14:12] 1adrianb commented on #8
@Yozey I tested it on ibug images and it worked fine. I did fixed a few other minor things tho with this occasion.

Could you please try to add:
`print(py_img.dtype, py_img.shape)`

You should get something like this(the image size will depend on the data):
uint8	 (800, 1200, 3)

Note that py_img is a reference to a python object (in this case a numpy array). This way you were unable to get the da

[2017-08-30 16:11] Yozey commented on #8
@1adrianb Thank you for your information.

Even though the data type is all right, the problem remains unsolved.

I doubt the problem probably comes from the dlib version etc.

[2017-08-30 17:07] 1adrianb commented on #8
@Yozey That's weird since the data seems to be in the right format. They fb.python libray is however very sensitive to the libs version (it was not working for me with the latest numpy for example).
What I can try to do is to finally prepare a docker image which should allow reproducing the very same configuration.

[2017-08-31 07:45] Yozey commented on #8
@1adrianb Thank you very much for your kind explanation.
Yep, I had un problem with the newest version of matplotlib. fb.python seems to be a little bit unpredictive.

[2017-08-31 08:38] kartynnik opened #9 "Magic 1.75 shift?"
Could you please explain the intent behind the 1.75 shift in this line:

https://github.com/1adrianb/2D-and-3D-face-alignment/blob/7863dbf7979524512bfe77d31bab05e233b811d2/main.lua#L98

Thanks in advance!

[2017-09-04 13:42] 1adrianb commented on #9
Hi Yury,
It's a bad way of handling the 0 based vs 1 based annotations. This should be actually properly addressed in the transform function. I will fix this later tomorrow.

[2017-09-04 13:42] #9 closed

[2017-09-10 06:17] PyJulie opened #11 "somequestion about dockerfile"
now i have gpu driver and nvidia-docker on my machine,can i use the dockerfile directly? Do I need to install CUDA on my machine?

[2017-09-10 10:07] 1adrianb commented on #11
Hi @PyJulie, as per [nvidia prerequisties](https://github.com/NVIDIA/nvidia-docker/wiki/Installation#prerequisites) NVIDIA driver + nvidia-modprobe should be enough.

If you want to use the docker file directly you need to build the Docker image on your host something like this:  ``docker build -t facealignment .`` where facealignment is going to the tag name. Once this is done you can either use

[2017-09-10 10:07] #11 closed

[2017-09-11 01:07] PyJulie opened #12 "Some errors when i run demo"
I put the 2d-fan and dataset in the demo,when i run th main.lua,it occurs:
![screenshot from 2017-09-11 09-01-13](https://user-images.githubusercontent.com/19531609/30254847-89e401d6-96d0-11e7-970e-00c29dfed9e0.png)
I tried to install npy4th, but failed, have you ever meet this error? thx

[2017-09-11 03:38] 1adrianb commented on #12
@PyJulie, if you look at the very bottom of the error it says that it's actually an warning. The package is optional so the code should run fine.
Please also run ``the main.lua -help`` to see the appropriate flags.

[2017-09-11 12:40] ablavatski opened #13 "Does network predict zero-based coordinates?"
Could you confirm that your models predict zero-based coordinates and you need to shift them to one-based for correct metrics calculation?

https://github.com/1adrianb/2D-and-3D-face-alignment/blob/ab9eceb1aab8093b4b85819f7d2bd8e0b431fab3/main.lua#L112

Thanks in advance.

[2017-09-11 12:42] ablavatski opened #14 "Range of depth?"
What is the range of depth predictions?

https://github.com/1adrianb/2D-and-3D-face-alignment/blob/c85491111758e459a42fe9c903f26d990043582c/main.lua#L78

Thanks in advance!

[2017-09-11 13:17] 1adrianb commented on #13
@ablavatski  Yes you are correct, I will include this in the transform function because now it looks a bit hacky.

[2017-09-11 13:19] ablavatski commented on #13
@1adrianb Thanks for the fast response!

[2017-09-11 13:31] 1adrianb commented on #14
Hi @ablavatski,
I don't remember the exact range but at that point expect values in the range [-70, 70] approximatively. The depth predicted should be consistent with the one from the [3DDFA model](http://www.cbsr.ia.ac.cn/users/xiangyuzhu/projects/3DDFA/main.htm) if you zero mean it. If you need a more accurate let me know and I will check it.

[2017-09-11 13:32] #13 closed

[2017-09-12 09:09] PyJulie commented on #12
@1adrianb I tried every flags,but sadly, whatever I use, it shows the same error,just same as what in the picture.

[2017-09-12 10:49] 1adrianb commented on #12
@PyJulie can you try to clone again the repo and retry ?

[2017-09-12 14:15] ablavatski commented on #14
Hi @1adrianb
I can't check the model cause I use Ubuntu and the code for the model is written for Windows. Could you check the range for me and tell me what I need to with after this `depth_pred*(1/(256/(200*fileList[i].scale)))` in order to have values in range `[-1, 1]`.
Thank you in advance.

[2017-09-12 18:57] andrewsanders0 opened #15 "Run model on CPU"
How can I run it if I don't have a gpu?

[2017-09-12 19:14] 1adrianb commented on #15
Hi, @andrewsanders0
In order to run the model on a CPU make sure to (1) convert all [cudnn layer](https://github.com/soumith/cudnn.torch) to nn doing something like this: ``cudnn.convert(model, nn)`` and (2) the move the model to the cpu with ``model:float()``.

[2017-09-12 19:14] #15 closed

[2017-09-12 20:29] AaronJackson commented on #8
@1adrianb  I had this issue on quite a few images uploaded to my online demo. No idea why, but I managed to stop it happening (I think) by changing the image.load call to:
[code]
It's strange because I see you have some code to handle when a grey scale image is loaded, maybe it was the wrong type?

[2017-09-12 20:41] 1adrianb commented on #8
Thanks @AaronJackson
I am unsure however if this will fix this weird behavior since the image has the right size and data type in both scenarious. I runned it on the ibug images as Yozey did and I was unable to reproduce the error.
If you can send me a few samples where it failed I can have a look.

[2017-09-12 20:53] 1adrianb commented on #8
@AaronJackson also, egarding the type, it is enforced to be byte before sending it to dlib (see the discussion above).
If you enforce the byte type while loading the image you will have to convert it  back to float and rescale it from [0, 255] to [0,1] range.

[2017-09-12 21:05] AaronJackson commented on #8
Good point! Ignore my suggestion everybody! haha

[2017-09-15 03:42] Hardold opened #16 "How fast is the program running?"

[2017-09-15 06:03] 1adrianb commented on #16
Hi @Hardold, on a GPU expect between 15-25fps (of course it will highly depend on the GPU you are using). The 3D one should be slighly slower.
I realised that some people may require a faster version so I will try to release very soon some smaller models described in the paper which should run up to 4x faster (with only a very small drop in performance). Let me know if you have any other questions

[2017-09-15 06:03] #16 closed

[2017-09-19 15:02] 1adrianb commented on #8
@Yozey I have also released a python version of the code which should not exhibit this kind of weird error.

[2017-09-19 15:02] #8 closed

[2017-09-19 15:04] 1adrianb commented on #12
@PyJulie While the issue is fixed if you still have any issues please also check the python version which should be easier to setup.

[2017-09-19 15:04] #12 closed

[2017-09-21 07:57] Yozey commented on #8
@1adrianb Thank you very much. I'll take it a look.

[2017-09-23 07:18] AnshanTJU opened #17 "Question about caffe implementation"
Hi,
I have a problem for caffe implementation.
_table.insert(out, tmpOut)_
I want to know the meaning of this line. I only use tmpOut4 for output and the result is poor. Shoud l concat all tmpOut to output?

[2017-09-23 09:29] 1adrianb commented on #17
Please see 1adrianb/face-alignment-training#2

[2017-09-23 09:29] #17 closed

[2017-10-02 18:02] ynotstartups opened #18 "does it work with Torch7 with LuaJIT 2.1.0-beta1?"
/home/mmf159/torch-cl/install/bin/luajit: /home/mmf159/torch-cl/install/share/lua/5.1/trepl/init.lua:384:
    /home/mmf159/torch-cl/install/share/lua/5.1/trepl/init.lua:384: attempt to index a string value
    stack traceback:
    	[C]: in function 'error'
    	/home/mmf159/torch-cl/install/share/lua/5.1/trepl/init.lua:384: in function 'require'
    	main.lua:12: in main chunk
    	[C]: in functio

[2017-10-02 18:40] 1adrianb commented on #18
Hi @ynotstartups could you give more details and a full stack if possible since the error seems unrelared to my code. Line 12 just requires a package ('cunn').

[2017-10-02 18:45] 1adrianb commented on #18
Also I see that you are using torch-cl, is that the open cl based torch?

[2017-10-04 08:29] #18 closed

[2017-10-05 12:16] happsky opened #19 "fb-python cannot installed successfully?"
Thanks for you sharing this code, but I cannot install fb-python correctly, when I run `luarocks make rockspec/fbpython-0.1-1.rockspec`, the following error occurs:

cmake -E make_directory build &&
        cd build &&
        cmake -DROCKS_PREFIX=/home/hao/torch/install/lib/luarocks/rocks/fbpython/0.1-1 \
              -DROCKS_LUADIR=/home/hao/torch/install/lib/luarocks/rocks/fbpython/0.1-1/lua \

[2017-10-06 08:18] 1adrianb commented on #19
Hi @happsky ,
It looks like the python-devel package you are using has a different version to the python one (2.7.6 vs 2.7.13). Please make sure both of them are at the same version or add the correct path to ``LD_LIBRARY_PATH``.

If you still have issue please check wither the Docker image provided wich should offer you an working environment or use the python version available [here](https://git

[2017-10-06 10:43] lmiguelmh opened #20 "Building docker image fails when building dlib because of 'Boost python library not found'"
I was trying to build the docker image using `docker build -t face-alignment .` and the process failed in the step 12/13:

[code]
From the message I suppose I need to compile and install Boost libraries first...

[2017-10-06 10:47] 1adrianb commented on #20
Hi @lmiguelmh which Docker are you running? The one provided in this repo doesn't contain this.

[2017-10-06 10:54] lmiguelmh commented on #20
Hi @1adrianb and thanks for your response. Yes you right I should post this issue in the repo for face-alignment: https://github.com/1adrianb/face-alignment

[2017-10-06 10:57] #20 closed

[2017-10-06 11:09] 1adrianb commented on #20
@lmiguelmh also I think you were not using the latest version since the missing python boost lib issue was  addressed recently

[2017-10-06 11:53] lmiguelmh commented on #20
@1adrianb Yes I had to clone it again.

I hope you have the time to solve this issue https://github.com/1adrianb/face-alignment/issues/14 from what I see here https://github.com/pytorch/pytorch/issues/566 there is a possible solution using `pip install --no-deps torchvision`. But the problem arises from the `setup.py` file wich has a dependency to `torch` and not `torchvision`. The thing is that t

[2017-10-06 23:25] lmiguelmh commented on #20
@1adrianb After struggling a little bit I made it to work, this is how:

1. Comment the `torch` requirement in the `setup.py` file:
[code]
Then, execute `python setup.py install`

2. Install `pytorch` from http://pytorch.org/ (I selected pip because my jupyter instance didn't recognize conda install)

[code]

You will need libSM.so.6 too:

[code]

[2017-10-11 01:33] sumair95 commented on #8
can we make haar cascade classifier compatible with dlib because hog detection rate is very low?

[2017-10-11 15:55] #19 closed

[2017-11-04 02:05] happyfrank commented on #5
I got the same issue.I commended the 'py.exec' blocks. there is not any segmentation fault.
But I got this error:
[code]

[2017-11-05 10:09] 1adrianb commented on #5
Hi @happyfrank,
In the meantime python dlib is used for face detection and further python code removals are required. You can sanitize this and remove also this part. Alternatively you can use the Docker image provided, which should set up the environment for you.
There is also another version of this code in python which should be hopefully easier to setup.

[2017-11-15 06:08] kzw5309 commented on #5
I tried to run AaronJackson/vrn that contains your 2D-and-3D-face-alignment, but I got the following error after following the solution above.
`
Scanning directory for data...
Found 5 imag`
Scanning directory for data...
Found 5 images
5 images require a face detector
Initialising python libs...
Initialising detector...
/home/ron/usr/local/torch/install/bin/luajit: main.lua:51: Python code must be

[2017-11-15 07:35] 1adrianb commented on #5
Hi @kzw5309 the above solution is indeed for people that don't need the face detection, while you actually needed. You have to makr sure all the python stack is properly installed. Please check the docker image for an example.

[2017-11-17 04:58] kzw5309 commented on #5
If I uncomment python code, I will get the following error.

./run.sh: line 30: 16055 Segmentation fault      (core dumped) th main.lua -model 2D-FAN-300W.t7 -input ../$INPUT/ -detectFaces true -mode generate -output ../$INPUT/ -device gpu -outputFormat txt
ls: cannot access '*.txt': No such file or directory
ls: cannot access '*.raw': No such file or directory

I have installed all dependencies y

[2017-11-20 12:24] liuhengli opened #21 "datasets"
I only found the LS3D-W dataset not found the 300W-LP. Could you tell me where can download?

[2017-11-20 12:25] 1adrianb commented on #21
@liuhengli  please check http://www.cbsr.ia.ac.cn/users/xiangyuzhu/projects/3DDFA/main.htm

[2017-11-21 15:17] hzh8311 opened #22 "Datasets compatibility?"
When train the model on 300W-LP, the `center` and `scale` are predefined at [lines](https://github.com/1adrianb/face-alignment-training/blob/master/dataset-images.lua#L18-L19). But when I try to run you demo code I found that the `center` and `scale` are computed according to ground-truth landmarks [lines](https://github.com/1adrianb/2D-and-3D-face-alignment/blob/master/utils.lua#L184-L187). And I

[2017-11-22 02:25] xleeeon opened #23 "Segmentation fault (core dumped)"
Hi, I installed all the requirements described in the readme. Howeve, I still get something showed below.

![screenshot from 2017-11-21 18-23-44](https://user-images.githubusercontent.com/28063874/33106844-296d2bb0-cee9-11e7-8026-9fda6ff464ed.png)

Please help

[2017-11-22 03:07] #23 closed

[2017-11-23 10:36] 1adrianb commented on #22
Hi @hzh8311, The two numbers are used to aproximatevly map the center and the scale obtained from a tight bounding box to the one used during training.

Regarding the results: You should get around 74% if you run this code. For LS3D-W balanced you have to remove the 1.75 shift at this line: https://github.com/1adrianb/2D-and-3D-face-alignment/blob/fc4d29999a1f0b8a833805bfe437bd32df886242/main.lua#

[2017-11-23 10:37] #22 closed

[2017-11-23 10:37] #21 closed

[2017-11-28 07:13] hzh8311 commented on #22
So why 1.75 here? Should not it be 1. ?

[2017-11-28 15:03] hzh8311 commented on #22
It seems that the `center` and `scale` for training are fixed as (225, 275) and 1.8, respectively. And the `center` and `scale` for testing are computed according to bounding box. Does this difference matters and leads to such performance drop (17-18%)? @1adrianb

[2017-12-03 15:34] 1adrianb commented on #22
@hzh8311 the center is fixed for 300W-LP because the images are already normalised and therefore computing a bounding box is not required. At test time however the faces are coming in all sort of sizes and are found at various locations in the image, therefore some sort of normalisation is required. This is done for simplicity based on the bounding box size.

The error of 17% is not coming from no

[2017-12-04 03:29] hzh8311 commented on #22
I removed the shift you mentioned, but only 3-4% improvement compared to my first  result. That is to say it is still 13-14% lower than the result reported in the paper.
For more details, the AUCs on traning set and validation set(300W_LP_test) are quiet high (~80%), but it drop badly on LS3D-W dataset.

[2017-12-04 08:13] 1adrianb commented on #22
Oh, so you are using a retrained model? Because using the pretained model, already provided, you should be able to match exactly that numbers.

[2017-12-05 01:08] hzh8311 commented on #22
Yes, but I can't figure out why the retrained model can not reach your performance.

[2017-12-06 07:40] zhaoyuanxing opened #24 "Install fb-python on windows?"
I install fb-python on windows but get such message：

`
E:\Work\Lib\2D-and-3D-face-alignment>luarocks search python

python - Search results for Lua 5.1:
====================================

Rockspecs and source rocks:
---------------------------

fbpython
   0.1-2 (rockspec) - https://raw.githubusercontent.com/torch/rocks/master

python
   scm-0 (rockspec) - https://raw.githubusercontent.com/tor

[2017-12-06 13:39] 1adrianb commented on #24
Unfortunately, fb.python doesn't work on windows. The python parts are used to interface the code with dlib (for face detection) and for plotting the points (matplotlib). You can safely remove this parts but you will need another way to handle the plotting and the face detection. For plotting you can probably use visdom package from facebook.

[2017-12-07 01:16] zhaoyuanxing commented on #24
thank you

[2017-12-07 01:16] #24 closed

[2017-12-08 06:23] elbaro opened #25 "LS3D-W Checksum"
The dataset is large. Can you provide md5sum of LS3D-W.tar.gz?

Also some questions:
- Are 2d-FAN and 3d-FAN trained on LS3D-W? Section 3.1 says 300-W-LP is used for training.
- Does Figure9 show the result for one global model trained on LS3D-W and tested on each (a)-(f) testset?
- Do you have a plan for binarized depth network?

[2017-12-08 07:39] liuhengli opened #26 "About .mat file"
The Mat file in the '300W_LP' dataset folder and in the 'landmarks' is different. I want to know about how to use the Mat file in the '300W_LP' dataset folder or its role.Thanks

[2017-12-11 01:54] 1adrianb commented on #25
Hi @elbaro,

Sure, here is the md5sum: ``3705cf6973e7fd17f9ddf1cb509ca828 `

Regarding your questions:

- 2D-FAN and 3D-FAN were trained on 300-W-LP. The models available are following the training sets descrbed in the paper.
- Yes, that's correct.
- Not at the moment, but it is mostly a matter of retraining the network in a binarized setting.

[2017-12-11 01:57] 1adrianb commented on #26
Hi @liuhengli,

Some of the files contain the pre-warped points while other contain the original 2D ones. The training code is already preconfigured to read the correct ones. Depending on your needs I suggest you looking into the description provided by the authors of 300W-LP [here](http://www.cbsr.ia.ac.cn/users/xiangyuzhu/projects/3DDFA/main.htm).

[2017-12-11 01:57] #26 closed

[2017-12-15 14:37] crazySyaoran commented on #5
Hi @kzw5309
I also come from AaronJackson/vrn adn got same problem with you.
Did you solve it finally?

[2017-12-20 09:15] #25 closed

[2018-01-17 03:29] linVdcd opened #27 "Bad result!!"
The 2D-FAN-300W.t7 model get a bad result! However,the pytorch version is good.
![2018-01-17 11-22-26](https://user-images.githubusercontent.com/8973153/35024247-59cbd0b0-fb79-11e7-92fd-a05bf42d6328.png)

[2018-01-17 08:48] 1adrianb commented on #27
Hi @linVdcd
For best results on large poses you should use the 2D-FAN.t7 (so the non 300W version). The python code is using by default a) the non-300W version b) is using the CNN-based dlib face detector, tho in general as suggested previously a better CNN based detector should be used.

Please use the search function since I  replied to similar or near-identical questions previously and offered

[2018-01-17 08:48] #27 closed

[2018-01-19 17:08] azmathmoosa opened #28 "Converting .t7 labels into other formats"
I am trying to use this dataset on a windows machine.  After wrestling with torch7 for a few days, I failed to get it working in Windows.  My aim is to train a network from scratch in dlib c++ library.  I need to first convert the .t7 labels (e. image00002.t7) into a different format.

Since, I couldn't install torch, I am trying to use this [torch deserialization tool](https://github.com/bshillin

[2018-01-19 17:24] 1adrianb commented on #28
Hi @azmathmoosa ,

Are you using Windows? If yes, then there seems to be an issue with the library you are trying to use, see https://github.com/bshillingford/python-torchfile/issues/9

Regarding an utility to do this, you can use pytorch (there is a windows build for it using conda). If this still doesn't work, please let me know and I will have a look.

[2018-01-19 19:04] azmathmoosa commented on #28
Thanks for the quick response @1adrianb .  I tried pytorch for windows and it too failed to deserialize.

[code]

Going through the issue that you referenced they say that binary t7 files are not portable due to different sizes of long ints. So I must use a linux system to deserialize them first and then switch to windows.  I will do that then.

Thanks for the assistance, and great work!

[2018-01-21 16:12] #28 closed

[2018-04-12 12:22] xdr94 opened #31 "Can not run this demo on CPU"
When I run this demo with 2D-FAN model and set "-device cpu", it ended with error "In 1 module of nn.Sequential: /home/v-doxu/torch/install/share/lua/5.1/cudnn/init.lua:171: assertion failed!"

[2018-04-17 22:13] 1adrianb commented on #31
Hi @xdr94,

Unfortunatelly the current models are cuda only, converting them is possible but not really straight-forward due to nngraph limitations. You can however try the pytorch models. Please note that the performance is not identical however.

[2018-05-08 07:30] selva18 opened #32 "Regarding licence of model file and dataset."
hi Adrian,
I have gone through the repository and found that the license type used in this repository is BSD 3-Clause "New" or "Revised".
1.Is the model file also covered under BSD 3-Clause "New" or "Revised" license?
2.With your knowledge, any idea about the licensing of datasets you used?

[2018-05-13 09:54] 1adrianb commented on #32
@selva18

By no means I can offer a legal advice.
The code, the models and the prediction are lincesed under BSD 3-Clause.  However, we do not own the images and such you may need to check this.

[2018-05-14 07:04] selva18 commented on #32
@1adrianb thanks for the reply.
You mentioned above " you may need to check this.". Any link you like to share.

[2018-05-14 07:27] 1adrianb commented on #32
The images are taken from AFLW, 300W and 300VW Datasets. I am unsure what is the license of the images collected by them.

[2018-05-14 07:52] selva18 commented on #32
@1adrianb ok thanks

[2018-05-14 08:55] #32 closed, assigned to nobody

[2018-05-30 12:29] vivek12345678910 opened #33 "Hair of the 2d face"
When I am running the code, I am unable to see the hair over the face, Is there a way in which we can have human hair on the top of the face, I mean is this model predict only the face or  Can we generate 3d part of face like hair ear etc also,

In some images, I am seeing some black part on the top and, I hope it comes because of hair color. Can we extend it to little bit such that it looks like

[2018-06-19 06:51] marvin521 opened #34 "Can not download the pre-trained models"
Hi . adrianb,  I can not download the pre-trained models.  Could you let them available again? Thanks.

[2018-06-19 08:11] marvin521 commented on #34
sloved

[2018-06-19 08:12] #34 closed, assigned to nobody

[2018-07-20 05:11] leeeeeeo commented on #5
@happyfrank @1adrianb Hello, I met the same problem. Any suggestions please?
![image](https://user-images.githubusercontent.com/25877709/42984254-3d933bb4-8c1e-11e8-9707-68e071d79895.png)

[2018-07-21 08:19] #33 closed, assigned to nobody

[2018-08-30 06:11] baomingwang opened #35 "About the LS3D-W annotation"
Hi, thanks a lot for your project!

I want to use your LS3D-W dataset as my training set. But when I get access to the .t7 annotation file, I get the 68*2 array, instead of 68*3 with depth dimension as I expected.
So, this dataset contains 3D landmarks, right? Where could I get the depth dimension?

Thanks you very much!

[2018-09-15 19:30] Kshitij08 commented on #23
@xleeeon Did you find any solution for this??

[2018-09-16 18:45] abskjha opened #36 "Scale factor in utils transform and get_normalisation"
First of all thanks for such a wonderful library.
Factor deciding scale in utils.get_normalisation is 195 :  `scale = (math.abs(maxX-minX)+math.abs(maxY-minY))/195`
While the same for utils.transform is 200: `h = 200*scale`
Shouldn't both be same? Either 200 or 195.

[2018-10-04 12:33] thanhhvnqb opened #37 "Cannot achieve same result in paper"
Dear Mr. Adrian Bulat,
I run your code based on the Nvidia-docker file you provided. But unfortunately, I cannot achieve the same result as you reported in the paper. I downloaded the model from your provided link.

So could you review and check are there any problems with the code and models?
Thank you so much and sorry for any inconvenience.

Here is my evaluation result
===300W-Testset-3D
600
(

[2018-10-04 13:19] 1adrianb commented on #37
While unfortunately I don't have the time  to look thru your code line-by-line at the moment, my comments are as follow (will have a look at a later point):
- The demo is setup to mainly reproduce the results on 300-W and Menpo, for 300VW we used a separate model which was also finetuned on 300VW-testset for the 2D case. The main reason for this is that the videos contain a different type of noise

[2018-10-04 13:20] 1adrianb commented on #36
Hi @abskjha, yes they should be, in practice you won't see much difference however between the two. Will fix this, thanks!

[2018-10-04 13:20] #36 closed, assigned to nobody

[2018-10-04 13:23] #31 closed, assigned to nobody

[2018-10-05 00:41] thanhhvnqb commented on #37
Thank you for your quick response.
So could you send me the .t7 files, which are the predicted results of 3DFAN on LS3D-W dataset? I want to analyze them.
Additionally, If it is OK, could you send me the predicted result of 3DDFA also? I can not run their code correctly.
Or at least, send me the 3D numerical results on 300W, Menpo, 300VW-CatA/B/C. of 3DFAN and 3DDFA? I cannot find the number in th

[2018-10-05 20:25] 1adrianb commented on #37
@thanhhvnqb I have run the script available online and I got 300W-3D: 81.1% Menpo-3D: 72.5% I am now away but I can send you this particular predictions obtained using this code on the begging on the next week.
Regarding the rest, this may take a while, all of that data is on my university machine, however I am not at the university anymore and such it will take some time to get a hand on it and s

[2018-10-05 23:39] thanhhvnqb commented on #37
Oh. That's quite strang. I also run the online code but cannot achieve the same result. I run by using the nvidia-docker of this repository. So could you send me the code you use to run? Maybe I can check and find whether my configuration is right or not.
Additionally, could you send me the result of 3DDFA also, at least the numerical result?
Thank you so much for your help.

[2018-10-06 05:38] yuanliu939 opened #38 "Groundtruth bounding box for training"
We did not find the groundtruth bounding boxes in the LS3D-W dataset. Is there anyway to obtain them?

[2018-10-19 15:22] lulu1315 opened #39 "2D-3D landmarks output . how?"
hello and thank you for the code
I'm trying to output the 3D landmarks of an input image and I'm a bit confused .
(I'm running the code on KDE Neon - Ubuntu 16.04)

this is the command I'm using
th main.lua -detectFaces True -type 3D -outputFormat txt -model models/3D-FAN.t7 -input images/

images contains several .jpg images

first i get this error :
Found 5 images
5 images require a face detecto

[2018-10-19 15:36] lulu1315 commented on #39
tried a little bit harder :
th main.lua -detectFaces True -type 3D-full -outputFormat txt -model models/2D-FAN-generic.t7 -modelZ models/3D-FAN-depth.t7 -input images/ -device gpu

gives me 3D landmarks in the .txt files

I'm a bit lost on :
-which model to use ?
-what's the difference between 3D and 3D-full mode ?

[2018-10-19 20:38] 1adrianb commented on #39
Hi @lulu1315,

- Regarding the model, it depends on your needs, they will produce slighly different configurations.
- 3D in this case is the 2D projection (x,y) of the 3D points (x,y,z), while the full 3D will actually give you the x,y,z location of the points. You will still have however to pass the right models for this.

Depending on your needs, if its not for evalution/benchmarking purposes yo

[2018-10-19 20:42] 1adrianb commented on #38
Hi @linthieda,

Sorry for delay. During testing we used a perturbed ground truth bounding box. However, for computing the metrics we use defined the bounding box as the tight one: the one tha fully encloses all the facial landmarks.

[2018-10-19 20:42] #38 closed, assigned to nobody

[2018-10-21 12:33] #39 closed, assigned to nobody

[2018-10-22 08:40] lulu1315 commented on #39
thank you adrian.I will look into it
luc

[2019-04-13 06:05] wqz960 opened #40 "Hi,In your paper, the AFLW is splited to 3 parts, how to split it? It seems the AFLW2000 dataset I downloaded is a whole folder."

[2019-04-15 15:30] 1adrianb commented on #40
Hi @wqz960,

We only evaluate on AFLW2000-3D, 300W, 300VW and LS3D-W-Balanced. AFLW2000-3D simple represent the first 2000 images of the AFLW dataset that were re-annotated Zhu et al.

Thanks,
Adrian

[2019-04-15 15:37] wqz960 commented on #40
@1adrianb. I saw many papers splits the aflw2000 to 3parts (0,30) (30,60) (60,90) . Is there a ruler to get the 3 parts? Thank you

[2019-05-13 03:40] ypflll commented on #35
I met the same problem when I use torchfile.load() to load the .t7 file.
@wangbm @1adrianb Do you konw where is the problem? Thanks.

[2019-07-15 02:56] zoooo0820 commented on #35
I met the same problem too. Did you solve the problem? @ypflll @wangbm

[2019-07-15 06:55] ypflll commented on #35
@zoooo0820 The annotation is 68x2, you need to run 3D-FAN-depth to get depth.

[2019-07-30 23:40] Kiris-Wu commented on #35
@ypflll Hi I'm sorry to bother. Do you have the full 3D dataset? I am looking into the pytorch version of the code but it seems the author said it didn't support the use of 2D-to-3D model. Appreciate for your help!

[2019-08-02 02:36] ypflll commented on #35
@Kiris-Wu Sorry that I didn't run the full dataset.
Seems that pytorch version doesn't provide 2D-to-3D model while this repo does.

[2019-08-18 06:54] xiendong opened #41 "Support for MacOS"
Hello, I noticed that some of the Lua dependecies require CUDA, so I'm wondering can this codebase run on MacOS? Thanks!

[2019-09-09 23:31] 1adrianb commented on #41
@xiendong Sorry for delay. I am afraid that the provided models require cuda (i.e torch made a difference between cudnn and nn modules). While converting between the two is possible I am afraid that I don't have a torch7 setup on my machine any longer.

[2019-09-09 23:31] #41 closed, assigned to nobody

[2019-10-12 15:23] ThomasNorr opened #42 "3D Alignment"
Is the result reported for 3D face alignment in the paper the 2D error between the points and the prediction? If so, why is it not the error over all dimensions?

[2019-10-13 11:10] 1adrianb commented on #42
Hi @Gnabe,

yes the results measure the error in 2D, between the projections of the 3D points. At the time the common practice was to measure it like this (i.e see how the results are reported for AFLW-PIFA or AFLW2000-3D).

On 3DFAW for example, in a separate work, according to protocol we measured the error over all dimensions: https://arxiv.org/pdf/1609.09545.pdf

[2019-10-15 10:47] #42 closed, assigned to nobody

[2020-03-18 11:34] Rutvik21 opened #43 "Query regarding dataset annotation"
Hey,
I want to make my own 3d face landmark annotation dataset to use it in my internship project. So how can I make one so that I can also use to train models for commercial purpose ?

Thanks.

[2020-03-18 12:23] 1adrianb commented on #43
Hi @Rutvik21,

Our code and models are released under BSD3-Clause license. The data we trained on however is not owned by us and uses a different licensing (please see the respective authors webpages and licenses). I don't know if you can or not use them as such for commercial purposes.  Given this and the fact that I am not able nor qualified to offer any advice on this matter, I am afraid that y

[2020-03-18 12:23] #43 closed, assigned to nobody

[2020-05-21 09:09] Jayzh7 opened #44 "why the heatmaps are of size 64x64 while images are of size 256x256"
After transformation, the landmarks(in range of 0\~64) do not match the original image(in range of 0\~256).

[2020-05-21 11:14] 1adrianb commented on #44
This is done for efficiency mostly. You can of course move the prediction to any resolution desired be it 256x256 or a different one.

[2020-05-21 11:41] #44 closed, assigned to nobody

[2020-06-02 07:51] Jim61C opened #45 "Mapping from LS3D-W balanced to the LS3D-W images"
Hi,

I am wondering if you can provide the mapping from LS3D-W balanced images to its original image path in the original LS3D-W set. Namely, I am wondering is there a way to identify what are those sampled images in the original LS3D-W (300VW-3D, 300W-Testset-3D,  AFLW2000-3D-Reannotated and Menpo-3D) set that goes into the balanced set?

Thanks,

[2020-06-15 11:18] jmbuena commented on #45
Hi Jim61C,
Have you found this mapping from LS3D-W balanced to the original images on each dataset?

Thanks

[2020-06-15 19:24] Jim61C commented on #45
Hi,

Not yet. I am still waiting for any comments regarding this.

Thanks.

[2022-10-17 08:58] SunlifeV commented on #28
I have finished the conversion, Win10, python3.7, pytorch 0.4.1(cpu)
use code

[code]